@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Tech Academy</h1>
</div>
<div>
    <div>
        <h2>Welcome to my final assignment for the Tech Academy C# course.</h2>
        <p>
            Of the four available choices I have chosen to work on making a C# application using Entity Framework code first. 
        </p>

    </div>
</div>